
{{> messages }}
{{#if username}}
<p class="text-left">
      <a href="/auth/index">Home</a>
    </p>
<h2>{{ username }}'s Profile</h2>
<table class="table">
  <tr>
    <td>Profile picture:</td>
    <td><img src="data:image/png;base64,{{ image }}" class="img-thumbnail" /></td>
  </tr>
  <tr>
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Phone Number:</td>
    <td>{{ phoneno }}</td>
  </tr>
 
</table>
{{/if}}